<div class="sidebar">
  <h2>Menú</h2>
  <ul class="list-group nav flex-column">
    <li class="list-group-item" routerLink="../home-page" routerLinkActive="active">
      Home
    </li>
    <li class="list-group-item" routerLink="../about-page" routerLinkActive="active">
      Acerca De
    </li>
    <li class="list-group-item" routerLink="../contact-page" routerLinkActive="active">
      Contacto
    </li>
    <li class="list-group-item" routerLink="../countries/by-capital" routerLinkActive="active">
      Capital
    </li>
    <li class="list-group-item" routerLink="/countries/by-country" routerLinkActive="active">
      Por país
    </li>
    <li class="list-group-item" routerLink="/countries/by-region" routerLinkActive="active">
      Region
    </li>
  </ul>
</div>